footer {
    width: 100%;
    height: 50px;
    background-color: rgb(51, 124, 124);
    font-family: 'Baloo Thambi', cursive;
    text-align: center;
    color: white;
}
p{
    padding-top: 10px;
    font-size: 20px
}